:root {
  --main-bg: #ffffff;          /* white background */
  --highlight-red: #e63946;    /* red highlight */
  --highlight-accent: #1d3557; /* dark blue accent */
  --text-color: #1d1d1d;       /* main text color */
}

.Home {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: var(--highlight-red);
  color: var(--text-color);
}

.Home-nav {
  display: flex;
  justify-content: flex-end; 
  padding: 10px 20px;
  background-color: var(--highlight-accent);
}

.Home-nav nav a {
  color: var(--main-bg);
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.Home-nav nav a:hover {
  color: var(--highlight-red);
}

.Home-main {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  background-color: var(--highlight-red);
}

.Home-main h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.Home-main h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 1.5;
  color: var(--text-color);
}

.Home-button {
  margin-bottom: 30px;
  background-color: var(--highlight-red);
  color: var(--main-bg);
  transition: background-color 0.3s;
}

.Home-button:hover {
  background-color: var(--highlight-accent);
}

.Home-map {
  max-width: 100%;
  height: auto;
  border: 2px solid var(--highlight-accent);
  border-radius: 10px;
}

.small-image {
  width: 700px;
  height: auto;
}
